h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8e0b618f;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
.ant-btn-primary {
  background-color: rgb(142, 11, 97);
}
.ant-btn-primary:hover {
  background-color: rgb(142, 11, 97);
}
.ant-btn-primary:focus {
  background-color: rgb(142, 11, 97);
}
.ant-popover-inner {
  border-radius: 15px;
  width: 350px;
  height: 550px;
}
.ant-popover-inner-content {
  padding: 0px;
  height: 100%;
}
.heading {
  background: rgb(142, 11, 97);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
}
.heading h2 {
  color: white;
}
div.input-container {
  padding: 15px 10px;
  /* bottom: 0; */
  /* position: fixed; */
  background-color: #c9c9c91f;
  border-radius: 15px;
  margin: 5px 15px;
}
div.mainContainer {
  height: 100%;
}

.ant-input {
  width: 90%;
}
div.input-button-wrapper {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.ant-btn-primary {
  border-radius: 15px;
}

.ant-input {
  border-radius: 15px;
}
.message-div {
  height: 50%;
  overflow-y: auto;
}
.message-div-49 {
  height: 49%;
  overflow-y: auto;
}
.message-div-65 {
  height: 65%;
  overflow-y: auto;
}

/* Message recieved from admin */
.message-sent {
  text-align: right;
  padding: 15px;
  background-color: rgb(78, 78, 226);
  border-radius: 15px;
  border-top-right-radius: 0px;
  margin: 15px;
  margin-right: 7px;
  margin-left: 50px;
  margin-bottom: 0px;
  color: white;
}
/* message sent by user */
.message-recieved {
  background-color: rgb(142, 11, 97);
  padding: 15px;
  color: white;
  margin: 15px;
  margin-left: 7px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 50px;
  margin-bottom: 0px;
}

.footer {
  height: 8%;
  /* background-color: white; */
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 1px 15px;
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
.footer-image {
  width: 20px;
}

.time-recieved {
  margin-left: 15px;
  font-weight: 502;
}
.time-sent {
  text-align: right;
  margin-right: 15px;
  font-weight: 502;
}

.predefined-questions {
  height: 96%;
  background-color: #c9c9c91f;
  padding: 15px 15px;
  margin: 5px 15px;
  border-radius: 15px;
  font-weight: 502;
}
.predefined-questions-child {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 15px;
  cursor: pointer;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.predefined-questions-child:hover {
  overflow: visible;
}

div.predefined-questions-child:hover {
  background-color: #8e0b6138;
}

.react-tel-input .form-control {
  width: 100%;
  border-radius: 15px;
}
.react-tel-input .flag-dropdown {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.form-phone-input {
  margin: 0px 14px;
}
.form-group {
  padding: 15px 10px;
  margin: 15px 10px;
  text-align: center;
  background-color: #c9c9c91f;
  border-radius: 15px;
}
.form-group-phone {
  padding: 15px 10px;
  margin: 35px 10px;
  text-align: center;
  background-color: #c9c9c91f;
  border-radius: 15px;
}

.input-with-sms-container {
  padding: 15px 10px;
  /* bottom: 0; */
  /* position: fixed; */
  background-color: #c9c9c91f;
  border-radius: 15px;
  margin: -25px 15px;
}
